<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <div id="app">
        <div class="header">
            <div class="container header-flex">
                <div class="header-left">
                    <a href="index.html">
                        <img class="logo" src="img/Group2.svg" alt="logo">
                    </a>




                    <button class="found_btn" v-on:click="FilterGoods">
                        <input type="text" v-model="searchLine">
                        <img class="found_btn_img" src="img/Forma1.svg" alt="pfoto">
                    </button>



                </div>
                <!-- cart -->
                <button class="basket-btn" type="button" id="basket-btn" v-on:click="changeCartVisibility">
                    <img src="img/bascet.svg" alt="photo">
                </button>
            </div>

        </div>
        <div class="container content">
            <div class="good-element" v-for=" item in filteredList">
                <div class="good-element-title">{{item.title}}</div>
                <img v-bind:src="item.img" alt="">
                <div class="good-element-price"> Цена ${{item.price}}</div>
                <button class="buy_btn_style" v-bind:id="item.title" v-on:click="addToCart"> <span
                        v-bind:id="item.title"> Купить </span>
                </button>
            </div>
        </div>

        <div class="container " v-if="cartVisibility">
            <div class="cart_contant">
                <div class="good-cart" v-for=" item in cart">
                    <div class="good-cart-title">{{item.title}}</div>
                    <div class="good-cart-amount">Amount: {{item.amount}}</div>
                    <div class="good-cart-price">Total price: ${{item.price}}</div>

                    <!-- <button class="delete_product" v-on:click="removeFromCart">X</button> -->
                </div>


                <button class="close" v-on:click="changeCartVisibility">X</button>

            </div>


        </div>


        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="main_vue.js"></script>


    </div>

</body>

</html>